html, body {
	background-color: #afafaf;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-weight: 0;
	height: 100%;
	margin: 0;

}
 
 .navbar {
  overflow: hidden;
  position: fixed;
}

/*chart*/
	hr {
				border-top: 1px solid #727273;
				margin-bottom: 1rem;
				margin-top: 1rem;
	}
			
	#revenue-tag {
				border-radius: 0px !important;
				font-size: inherit !important;
				font-weight: inherit !important;
	}

	.align-center {
				text-align: center;
	}

	.card {
				background-color: transparent;
				border: none;
				margin-bottom: 0px;
	}

	#sales-doughnut-chart-us, #sales-doughnut-chart-nl, #sales-doughnut-chart-de {
				height: 280px;
				margin-top: 1rem;
				width: 100%;
	}

	#page-views-spline-area-chart, #orders-spline-area-chart, #revenue-spline-area-chart {
				height: 100px;
				width: 100%;
	}

	#users-doughnut-chart, #users-spline-chart {
				height: 280px; 
				margin-top: 2rem;
				width: 100%;
	}

	#users-countries-bar-chart {
				height: 360px; 
				margin-top: 2rem;
				width: 100%;
	}
